.card
{
    margin-top: 100px;
    margin-bottom: 150px;
   width: 350px;
   height: 500px;
   border-radius: 40px;
   margin-left: 75%;
}
.form-label {
 margin-right: 50%;
}
.form-control {
margin-right: 65px;
   
border-radius: 20px;
}
body {
    background-color: rgb(79, 79, 241);
}
.form-control a{
    margin-right: 200px;
}
